#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#inputContainer {
  display: flex;
  align-items: flex-start;
  gap: 40px; 
  padding: 20px;
}

#inputForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 0;  
  margin-top: 20px;
  gap: 10px;
}

#inputForm input,
#inputForm button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#inputForm button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#inputForm button:hover {
  background-color: #45a049;
}


table {
  border-collapse: collapse;
  min-width: 700px;  
  font-family: Arial, sans-serif;
}

th, td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #00445d;
  color: white;
}
